*.pyc
*.pdf
*.jpg
*.jpeg
examples/acceleration_logo_on_bottom.png
examples/acceleration_logo_on_left.png
SensorMaster.txt
*.png
cflib\positioning\*.pyc
cflib\crazyflie\*.pyc
cflib\*.pyc
*.pyc
cflib/__init__.pyc
